.searchBar-container {
    text-align: center;
    padding: 10px;
    background-color: rgb(116, 185, 102);
  }
  
  .searchBar-search {
    padding: 7px 50px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: rgb(165, 42, 155);
    background-color: rgb(248, 228, 187);
  }
  
  .searchBar-search:hover {
    border: 2px solid rgb(79, 42, 165);
  }
  
  .searchBar-button {
    padding: 7px 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: rgb(34, 27, 27);
    background-color: rgb(243, 207, 135);
    font-weight: 600;
    margin-left: 15px;
  }
  .searchBar-button:hover {
    border: 2px solid rgb(243, 207, 135);
    color: #f5e7e7;
    background-color: rgb(35, 21, 167);
  }